.bookmarks{
    display: flex;
    align-items: flex-start;
    color: #fff;
    &__icon{
        display: flex;
    }

    &__icon::after{
        display: flex;
        content: url("/icons/bookmark-header.svg");
        padding: 5px 0 0 0;
        @media screen and (max-width: 1024px) {
            padding: 10px 0 0 0;
            content: url("/icons/bookmark-header_1024.svg");
        }
    }

    &__desc{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__desc__text{
        margin: 5px 0 0 0;
        font-size: 12px;
        color:#E2B755;
    }
}