<template>
  <a href="" class="bookmarks">
    <div class="bookmarks__icon"></div>
    <div class="bookmarks__desc">
      <span class="bookmarks__desc__header">Bookmarks</span>
      <span class="bookmarks__desc__text">{{newsCount}} news</span>
    </div>
  </a>
</template>

<script>

export default {
  name: 'bookmarks',
  components: {
  },
  data:function(){
    return {
        newsCount: 16,
    }
  }
}
</script>

<style lang='scss' scoped>
@import 'Bookmarks.scss';
</style>