.widgets{
    display: flex;

    &__bookmarks{
        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    &__user{
        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    &__feed{
        @media screen and (max-width: 320px) {
            margin-left: 25px;
        }
    }

    &__search-widget{
        display: none;
        @media screen and (max-width: 1024px) {
            display: flex;
            padding: 5px 0 0 0;
        }
    }
}