<template>
  <nav class="widgets" aria-label="Widgets List">
    <ul class="list"> 
      <li class="list__item widgets__bookmarks"><bookmarks></bookmarks></li>
      <li class="list__item widgets__search-widget"><search-widget></search-widget></li>
      <li class="list__item widgets__feed"><feed></feed></li>
      <li class="list__item widgets__user"><user></user></li>
    </ul>
  </nav>
</template>

<script>
import Bookmarks from '../../widgets/bookmarks/Bookmarks'
import SearchWidget from '../../widgets/search-widget/SearchWidget.vue'
import Feed from '../../widgets/feed/Feed'
import User from '../../widgets/user/User'
export default {
  name: 'widgets',
  components: {
    Bookmarks,
    SearchWidget,
    Feed,
    User,
  },
  data:function(){
    return {
    }
  }
}
</script>

<style lang='scss' scoped>
@import 'Widgets.scss'
</style>