<template>
    <button v-on:click="openModal()" class="dropdown-filter dropdown-filter--320">
        <img alt="" src="/icons/filters.svg">
        <h4 class="dropdown-filter__filter-name">Filters</h4>
    </button>
</template>

<script>
export default {
  name: 'filter-320', 
  methods:{
    openModal:function(){
        this.$store.commit('TOGGLE_FILTERS_WINDOW');
    },
  },
}
</script>

<style lang="scss">
</style>
