.widget__icon__notifications-1024{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}