<template>
  <div class="filters">
    <div class="filters filters--common">
      <div>
        <country-filter></country-filter>
        <sphere-filter class="filters__sphere-filter"></sphere-filter>
      </div>
      <sort></sort>
    </div>
    <div class="filters filters--320">
      <filter-320></filter-320>
      <sort-320></sort-320>
    </div>
  </div>
</template>

<script>
import CountryFilter from '../../shared/country-filter/CountryFilter.vue'
import SphereFilter from '../../shared/sphere-filter/SphereFilter.vue'
import Filter320 from '../../shared/filter-320/Filter320.vue'
import Sort320 from '../../shared/sort/sort-320/Sort320.vue'
import Sort from '../../shared/sort/Sort.vue'
export default {
  name: 'filters',
  components: {
    CountryFilter,
    SphereFilter,
    Filter320,
    Sort320,
    Sort,
  },
}
</script>

<style lang="scss" scoped>
@import 'Filters.scss'
</style>
