.filters{
    display: flex;
    width: 100%;
    &--common{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 320px){
            display: none;
        }
    }
    &--320{
        display: none;
        @media screen and (max-width: 320px){
            display: flex;
            justify-content: space-between;
        }
    }
    &__sphere-filter{
        margin-left: 15px;
    }
}