<template>
  <div class="container add-feed-tool">
    <span class="add-feed-tool__sphere-name">{{sphereName}}</span>
    <button class="add-feed-tool__btn" aria-label="Add the sphere to your feed">
      <span class="add-feed-tool__text">Add to my feed</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'add-feed-tool',
  components: {
  },
  data:function(){
    return {
        sphereName: 'Companies',
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'AddFeedTool.scss'
</style>