.add-feed-tool{
    display: flex;
    align-items: center;

    &__sphere-name{
        font-weight: bold;
        font-size: $large_font-size; 
    }

    &__btn{
        margin: 0 0 0 20px;
    }

    &__text{
        font-size: $small_font-size; 
        color: $brown;
    }

    &__text::before{
        content: url("/icons/plus.svg");
        margin: 1px 6px 0 0;
    }
}