.logo{
    content: url("/icons/logo.svg");
    display: flex;
    background-color: transparent;
    width: 180px;
    height: 60px;
    @media screen and (max-width: 1024px) {
        content: url('/icons/logo_1024.svg');
        width: 216px;
        height: 72px; 
    }
    @media screen and (max-width: 320px) {
        content: url('/icons/logo_320.svg');
        width: 120px;
        height: 40px;
    }
}