<template>
  <a href="" class="search-widget">
    <div class="search-widget__icon"></div>
  </a>
</template>

<script>

export default {
  name: 'search-widget',
  components: {
  },
  data:function(){
    return {
    }
  }
}
</script>

<style lang='scss' scoped>
@import 'SearchWidget.scss';
</style>