.search-widget{
    display: flex;
    color: #fff;
    &__icon{
        display: flex;
    }

    &__icon::after{
        display: flex;
        content: url("/icons/search_1024.svg");
        @media screen and (max-width: 320px) {
            padding: 5px 0 0 0;
            content: url("/icons/search_320.svg");
        }
    }
}