.sort-320{
    justify-content: center;
    width: 136px;
    height: 40px;
    border: 1px solid #A96C17 !important;
    border-radius: 40px;
    &__name{
        
    }
    &__name::before{
        content: url("/icons/sorting.svg");
        margin-right: 15px;
    }
}