<template>
    <button class="sort-320" type="button" v-on:click="openModal()">
        <span class="sort-320__name">Sorting</span>
    </button>
</template>

<script> 
export default {
  name: 'sort-320',
  methods:{
    openModal:function(){
      this.$store.commit('TOGGLE_SORT_WINDOW');
    },
  }
}
</script>

<style lang='scss'>
@import "Sort320.scss";
</style>