<template>
  <form class="search-form nav-bar__search-form" aria-label="Search Field">
    <input class="search-form__input" type="text" maxlength="55" placeholder="Search">
    <button class="search-form__btn" aria-label="Click to see results"></button>
  </form>
</template>

<script>
export default {
  name: 'search-form',
  methods: {
  }
}
</script>

<style lang="scss">
</style>