<template>
    <div class="container container--column">
        <h3 class="visually-hidden">Country Filter Button</h3>
        <div v-on:click="openMenu()" v-bind:class="{'dropdown-filter dropdown-filter--selected':isCountryDropdownVisible}" class="dropdown-filter">
            <hgroup class="dropdown-filter__filter-name">
                <h4>Country</h4>
                <h5>All countries</h5>
            </hgroup>
            <div v-bind:class="{'dropdown-filter__filter-icon dropdown-filter__filter-icon--up':isCountryDropdownVisible}" class="dropdown-filter__filter-icon"></div>
        </div>
        <div v-if="isCountryDropdownVisible" class="dropdown-filter__dropdown-menu dropdown-filter__dropdown-menu--country">
            <div class="dropdown-filter__dropdown-menu__inner dropdown-filter__dropdown-menu__inner--country">
                <label class="container" v-bind:key="index" v-for="(country,index) in countryList">
                    <input class="dropdown-filter__dropdown-menu__input" type="checkbox" v-bind:checked="country.checked" v-on:change="toggleChechbox(country)">
                    <span class="dropdown-filter__dropdown-menu__input-text">{{country.name}}</span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'country-filter', 
  computed:{
    isCountryDropdownVisible:function(){
        return this.$store.getters.GET_COUNTRY_DROPDOWN;
    },
    countryList:function(){
        return this.$store.getters.GET_COUNTRY_LIST;
    },
  },
  methods:{
    openModal:function(){
        this.$store.commit('TOGGLE_FILTERS_WINDOW');
    },
    openMenu:function(){
        this.$store.commit('TOGGLE_COUNTRY_DROPDOWN');
    },
    toggleChechbox:function(country){
        this.$store.commit('CHECK_COUNTRY',country);
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
