.main-page{
    &__breadcrumbs{
        margin-top:25px;
        @media screen and (max-width: 1024px) {
            margin-top: 20px;
        }
        @media screen and (max-width: 320px) {
            margin-top: 25px;
        }
    }

    &__add-feed-tool{
        margin-top: 30px;
    }

    &__filters{
        margin-top: 30px;
    }

    &__load-btn{
        margin: 30px auto 90px auto;
    }
}