<template>
  <div class="container container--width-100 container--column main-page">
    <nav-bar></nav-bar>
    <main class="container container--wrapper container--column">
      <h1 class="visually-hidden">Website Main Content</h1>
      <breadcrumbs class="main-page__breadcrumbs"></breadcrumbs>
      <add-feed-tool class="main-page__add-feed-tool"></add-feed-tool>
      <section class="container container--column">
        <h2 class="visually-hidden">Filter Dropdown</h2>
        <filters class="main-page__filters"></filters>
        <article-container></article-container>
        <load-btn class="main-page__load-btn"></load-btn>
      </section>
    </main>
    <my-footer></my-footer>
  </div>
</template>

<script>
import NavBar from '../shared/nav-bar/NavBar.vue';
import MyFooter from '../shared/my-footer/MyFooter';
import CountryFilter from '../shared/country-filter/CountryFilter';
import Breadcrumbs from '../shared/breadcrumbs/Breadcrumbs.vue';
import AddFeedTool from '../shared/add-feed-tool/AddFeedTool.vue';
import SphereFilter from '../shared/sphere-filter/SphereFilter.vue';
import Filters from './main-page-filters/Filters.vue';
import ArticleContainer from './main-page-article-container/ArticleContainer.vue';
import LoadBtn from '../shared/load-btn/LoadBtn.vue';
export default {
  name: 'main-page',
  components: {
    NavBar,
    MyFooter,
    CountryFilter,
    Breadcrumbs,
    AddFeedTool,
    SphereFilter,
    Filters,
    ArticleContainer,
    LoadBtn,
  },
}
</script>

<style lang="scss" scoped>
@import 'MainPage.scss'
</style>
