.load-btn{
    width: 164px;
    height: 40px;
    justify-content: center;
    border: 0;
    border-radius: 40px;
    background: $main-gradient;
    color: #000000;
    @media screen and (max-width: 320px) {
        padding: 16px 30px;
        width: 164px;
        height: 40px;
    }
}