.article{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 100px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;

    &--secondary{
        border: 3px solid $brown;
    }
    
    &--tertiary{
        background-color: #000000;
        border: 0;
        color: white;
    }

    &__header{
        justify-content: flex-end;
        width: 100%;
    }

    &__bookmark{
        margin-right: 13px;
    }

    &__body{
        padding: 0 25px 0 25px;
    }

    &__sphere-tags{
        margin-top: 5px;
    }

    &__tag{
        justify-content: center;
        align-items: center;
        padding: 5px 10px 5px 10px;
        height: 24px;
        border-radius: 40px;
        font-size: 12px;
        color: #000000;
        background-color: #E2B755;
        &--sphere{
            background-color: transparent;
            border: 1px solid #E2B755;
            &:last-child{
                margin-left:5px;
            }
        }
        &--tertiary{
            color: white;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 16px;
        margin: 20px 0 0 0;
    }
    &__preview{
        margin: 10px 0 0 0;
    }

    &__footer{
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
    }
    &__date{
        margin: 0 0 30px 25px;
    }

    @media screen and (max-width: 1024px){
        width: 296px;
    }
    @media screen and (max-width: 320px){
        width: 290px;
    }
}