<template>
    <article v-bind:class="{'article article--secondary':self.tags[2]=='Secondary', 'article article--tertiary':self.tags[2]=='Tertiary'}" class="article">
        <h4 class="visually-hidden">{{self.tags[0]}} news</h4>
        <header class="container article__header">
            <img class="article__bookmark" src="/icons/bookmark.svg">
        </header>
        <div class="container container--column article__body">
            <div class="container container--column container--width--100">
                <div class="article__tag">
                    <span>{{self.tags[0]}}</span>
                </div>
                <div class="container container--width--100 article__sphere-tags">
                    <div v-bind:class="{'article__tag article__tag--sphere article__tag--tertiary':self.tags[2]=='Tertiary'}" class="article__tag article__tag--sphere">
                        <span>{{self.tags[1]}}</span>
                    </div>
                    <div v-bind:class="{'article__tag article__tag--sphere article__tag--tertiary':self.tags[2]=='Tertiary'}" class="article__tag article__tag--sphere">
                        <span>{{self.tags[2]}}</span>
                    </div>
                </div>
            </div>
            <div class="container container--column container--width--100">
                <p class="article__title">{{self.title}}</p>
                <p class="article__preview">{{self.preview}}</p>
            </div>
        </div>
        <footer class="article__footer">
            <p class="article__date">{{(self.date).toLocaleString('en-US', { month: 'long' })+' '+(self.date).getDate()+', '+(self.date).getHours()+':'+(self.date).getMinutes()}}</p>
        </footer>
    </article>
</template>

<script>
export default {
  name: 'my-article',
  props:{
    self: Object
  },
  data:function(){
    return{

    }
  },
}
</script>

<style lang='scss' scoped>
@import "MyArticle.scss";
</style>