.nav-bar{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 200px;
    background: #333333;

    &__top{
        height: 50px;
        background: $main-gradient;
        color: #000;
        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    &__top-container{
        @media screen and (max-width: 1024px) {
            justify-content: space-between;
        }
    }

    &__list-item{
        height: 100%;
        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        }
    }

    &__widgets{
        margin-left: auto;
    }

    &__btn{
        height: 100%;
        padding: 0 10px 0 10px;
    }

    &__btn--border{
        border-top: 5px solid rgba($color: #fff, $alpha: 0.0);
        border-bottom: 5px solid rgba($color: #fff, $alpha: 0.0);
    }

    &__btn--selected{
        border-bottom: 5px solid #fff !important;
    }

    &__btn--light-mode{
        margin-left: auto;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__btn--light-mode::after{
        content: url("/icons/moon.svg");
    }

    &__btn--language{
        border: none;
        margin-left: 40px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__btn--language::after{
        content: url("/icons/bold_arrow_down.svg");
        margin-left:16px;
    }

    &__btn--more-countries{
        border: none;
        margin-left: 30px;
        color: #fff;
    }

    &__btn--more-countries::after{
        content: url("/icons/arrow_down.svg");
        margin-left: 16px;
    }

    &__btn--bottom-btn{
        padding: 0;
        color: #fff;
    }

    &__burger{
        display: none;
        @media screen and (max-width: 1024px) {
            display: flex;
            margin-right: 60px;
        }
        @media screen and (max-width: 320px) {
            margin-right: 15px;
        }
    }

    &__bottom{
        
        height: 50px;
        background: rgba(255, 255, 255, 0.1); 
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__logo{
        margin: auto 0 auto 0;
    }

    &__search-form{
        margin-left: 70px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        height: 162px;
    }
    @media screen and (max-width: 320px) {
        height: 70px;
        background: #000;
    }
}