<template>
  <header class="nav-bar">
    <h1 class="visually-hidden">Website Header</h1>
    <section class="container container--width--100 nav-bar__top">
      <h2 class="visually-hidden">Header Country Filter</h2>
      <div class="container container--wrapper nav-bar__top-container">
        <ul class="list nav-bar__list">
          <li autofocus class="nav-bar__list-item" v-bind:key = "index" v-for = "(country, index) in countries"><button v-on:click="toggleCountryButton(country)" v-bind:class="{'nav-bar__btn nav-bar__btn--selected': country.selected }" class="nav-bar__btn nav-bar__btn--border" type="button">{{country.text}}</button></li>
        </ul>
        <button class="nav-bar__btn nav-bar__btn--more-countries" type="button" aria-label="Open More Countries">More contries</button>
        <button class="nav-bar__btn nav-bar__btn--light-mode" type="button" aria-label="Change Light Mode"></button>
        <button class="nav-bar__btn nav-bar__btn--language" type="button" aria-label="Change Language">EN</button>
      </div>
    </section>

    <section class="container container--wrapper">
      <h2 class="visually-hidden">Header Control Panel</h2>
      <button class="burger nav-bar__burger" type="button" aria-label="Open Menu"></button>
      <a class="nav-bar__logo">
        <img alt="Website Logo. Ashantene. Data. Information. Intelligence" class="logo">
      </a>
      <search-form></search-form> 
      <widgets class="nav-bar__widgets"></widgets>
    </section>

    <section aria-label="Sphere filter menu" class="container container--width--100 nav-bar__bottom">
      <h2 class="visually-hidden">Header Sphere Filter</h2>
      <div class="container container--wrapper">
        <ul class="list">
          <li v-bind:key="index" v-for="(sphere, index) in spheres" class="list__item"><button class="nav-bar__btn nav-bar__btn--bottom-btn" type="button">{{sphere.text}}</button></li>
        </ul>
      </div>
    </section>
  </header>
</template>

<script>
import SearchForm from '../search-form/SearchForm'
import Widgets from './NavBarWidgets/Widgets.vue'
export default {
  name: 'nav-bar',
  components: {
    SearchForm,
    Widgets,
  },
  data: function () {
    return {
      
      countries: [
        { text: 'All countries', selected: true },
        { text: 'Nigeria', selected: false },
        { text: 'South Africa', selected: false },
        { text: 'Egypt', selected: false },
        { text: 'Angola', selected: false },
        { text: 'Kenya', selected: false },
        { text: 'Ethiopia', selected: false }
      ],
      spheres:[
        { text: 'Government' },
        { text: 'Companies' },
        { text: 'People' },
        { text: 'Politics' },
        { text: 'Finance' },
        { text: 'Mining' },
        { text: 'Confidential' },
        { text: 'Travel advisory' },
        { text: 'Investment Guide' },
      ]
    }
  },
  methods: {
    toggleCountryButton (country) {
      this.countries.forEach(element => element.selected = false)
      country.selected = true
    }
  }
}
</script>

<style lang="scss" scoped>

@import 'NavBar.scss';

</style>
