@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

@mixin normal {
    display: flex;
    margin: 0;
    padding: 0;
}

div{
    @include normal();
    position: relative;
    width: fit-content;
}

* {
    box-sizing: border-box;
}

body {
    @include normal();
    width: 100%;
    min-height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

button {
    @include normal();
    outline: none;
    background-color: transparent;
    border: none;
    align-items: center;
    font-size: 14px;
}

input{
    @include normal();
    align-items: center;
    border: none;
    outline: none;
}

ul {
    @include normal();
    list-style: none; 
}

ol {
    @include normal();
    list-style: none; 
}

a {
    @include normal();
    text-decoration: none;
    outline: none;
    transition: .2s linear;
    cursor: pointer;
    color: #000;
}

p{
    display: flex;
    @include normal();
    width: fit-content;
}

span{
    display: flex;
    @include normal();
}

form{
    @include normal();
}

h1{
    @include normal();
    font-weight: 400;
}

h2{
    @include normal();
    font-weight: 400;
}

h3{
    @include normal();
    font-weight: 400;
}

h4{
    @include normal();
    font-weight: 400;
}

h5{
    @include normal();
    font-weight: 400;
    font-size: 12px;
    color:#999;
}