.dropdown-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 226px;
    height: 50px;
    background-color: #EEEEEE;

    &--selected{
        background-color: #FCF8ED;
    }

    &--320{
        padding: 0;
        justify-content: center;
        width: 136px;
        height: 40px;
        border: 1px solid #A96C17;
        border-radius: 40px;
        background-color: #fff;
    }

    &__filter-name{
        align-items: center;
        margin-left: 15px;
    }

    &__filter-icon{
        margin-right:15px;
        content: url("/icons/arrow_down_v2.svg");

        &--up{
            content: url("/icons/arrow_up.svg");
        }
    }

    &__dropdown-menu{
        position: absolute;
        top:50px;
        left: 0;
        z-index: 10000;
        background-color: #FCF8ED;

        &--country{
            width: 1010px;
            height: 525px;
            @media screen and (max-width: 1024px){
                width: 800px;
                height: 550px;
            }
        }
        &--sphere{
            width: 290px;
            height: 140px;
        }

        &__inner{
            display: grid;
            grid-gap: 15px;
            padding: 25px;
            width: 100%;
            height: 100%;
            &--country{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: repeat(auto-fit, auto);
            }
            &--sphere{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(auto-fit, auto);
            }
        }

        &__input{
            width: 20px;
            height: 20px;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 0;
        }

        &__input-text{
            display: flex;
            margin-left: 5px;
            align-items: flex-start;
            justify-content: flex-start;
            @media screen and (max-width: 1024px){
                font-size: 12px;
            }
        }
    }


} 