.widget--bookmark{
    @media screen and (max-width: 320px) {
      display: none;
    }
    .widget_desc{
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

}