<template>
  <footer class="container container--column footer">
    <section class="footer__top">
      <div class="container container--wrapper">
        <div class="container container--column">
          <span class="footer__contact-us">Contact us</span>
          <span class="footer__adress">Communication Digitale et Media en Ligne 17BP 806 Abidjan 18 Côte d’Ivoire</span>
          <a class="footer__mail" href="mailto:main@ashantene.com">main@ashantene.com</a>
        </div>

        <nav aria-label="Footer navigation menu" class="footer__nav">
          <a>About us</a>
          <a>Sitemap</a>
          <a>FAQ</a>
          <a>Archives</a>
          <a>Subscribe plans</a>
          <a>Terms and Conditions</a>
        </nav>

        <a class="footer__linked-in" href="https://www.linkedin.com/" target="blank"><img alt="" src="/icons/linkedin.svg"></a>
      </div>
    </section>
          
    <section class="footer__bottom">
      <div class="container container--wrapper">
        <span class="footer__copyrighter">© Communication Digitale et Media en Ligne</span>
        <div class="container">
          <span>Made in</span>
          <a class="footer__progressive-media" href="https://www.progressivemedia.ru/" target="blank">Progressive Media</a>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
export default {
  name: 'my-footer',
}
</script>

<style lang="scss">
@import 'MyFooter.scss';
</style>
