.footer{
    width: 100%;
    background-color: #EEEEEE;

    &__top{
        width: 100%;
        height: 140px;
        color: black;

        .container--wrapper{
            padding-top: 30px;
            @media screen and (max-width: 320px){
              flex-direction: column;
            }
        }

        @media screen and (max-width: 320px){
            height: 390px;
        }
    }

    &__bottom{
        width: 100%;
        height: 40px;
        border-top: 1px solid #DDDDDD;
        color: #999999;
        font-size: 12px;

        .container--wrapper{
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 320px){
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }
        }

        @media screen and (max-width: 320px){
            height: 68px;
        }
    }

    &__nav{
        display: grid;
        margin-top: 5px;
        margin-left: 180px;
        grid-template-rows: 14px 14px;
        grid-template-columns: auto auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 60px;
        @media screen and (max-width: 1024px){
          margin-left: 130px;
          grid-template-rows: 14px 14px 14px;
          grid-template-columns: auto auto;
          grid-row-gap: 15px;
          grid-column-gap: 50px;
        }
        @media screen and (max-width: 320px){
          margin-top: 30px;
          margin-left: 0;
          grid-template-rows: 14px 14px 14px 14px 14px 14px;
          grid-template-columns: auto;
          grid-column-gap: 0;
        }
    }

    &__contact-us{
        font-size: 16px;
        font-weight: bold;
    }

    &__adress{
        margin-top: 15px;
        text-align:flex-start;
    }

    &__mail{
        margin-top:10px;
        color:$brown;
    }

    &__copyrighter{
        @media screen and (max-width: 320px){
          margin-top: 15px;
          margin-bottom: 10px;
        }
    }
    
    &__linked-in{
      margin-left: auto;
      align-items: flex-start;
    }

    &__progressive-media{
        color:$brown;
        margin-left: 3px;
    }
}