<template>
    <div class="container sort">
      <h3 class="visually-hidden">Sorting Tool</h3>
      <span>Sorting by:</span>
      <button type="button" aria-label="Sort by the latest" v-bind:class="{'sort__item sort__item--active':getLatest}" v-on:click="toggleSort()" class="sort__item">the latest</button>
      <button type="button" aria-label="Sort by the most interesting" v-bind:class="{'sort__item sort__item--active':getInterest}" v-on:click="toggleSort()" class="sort__item">the most interesting</button>
    </div>
</template>

<script> 
export default {
  name: 'sort',
  computed:{
    getLatest:function(){
      return this.$store.getters.GET_LATEST;
    },
    getInterest:function(){
      return this.$store.getters.GET_INTEREST;
    },
  },
  methods:{
    toggleSort:function(){
      this.$store.commit('TOGGLE_LATEST');
      this.$store.commit('TOGGLE_INTEREST');
    },
  }
}
</script>

<style lang='scss'>
@import "Sort.scss";
</style>