.article-container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    width: 100%;
    padding: 0;
    margin-top: 30px;
    @media screen and (max-width: 320px){
        margin-top: 25px;
    }
}
