<template>
    <div class="container container--column">
        <h3 class="visually-hidden">Sphere Filter Button</h3>
        <div v-on:click="openMenu()" v-bind:class="{'dropdown-filter dropdown-filter--selected':isSphereDropdownVisible}" class="dropdown-filter">
            <hgroup class="dropdown-filter__filter-name">
                <h4>Sphere</h4>
                <h5>All spheres</h5>
            </hgroup>
            <div v-bind:class="{'dropdown-filter__filter-icon dropdown-filter__filter-icon--up':isSphereDropdownVisible}" class="dropdown-filter__filter-icon"></div>
        </div>
        <div v-if="isSphereDropdownVisible" class="dropdown-filter__dropdown-menu dropdown-filter__dropdown-menu--sphere">
            <div class="dropdown-filter__dropdown-menu__inner dropdown-filter__dropdown-menu__inner--sphere">
                <label class="container" v-bind:key="index" v-for="(sphere,index) in sphereList">
                    <input class="dropdown-filter__dropdown-menu__input" type="checkbox" v-bind:checked="sphere.checked" v-on:change="toggleChechbox(sphere)">
                    <span class="dropdown-filter__dropdown-menu__input-text">{{sphere.name}}</span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'sphere-filter', 
  computed:{
    isSphereDropdownVisible:function(){
        return this.$store.getters.GET_SPHERE_DROPDOWN;
    },
    sphereList:function(){
        return this.$store.getters.GET_SPHERE_LIST;
    },
  },
  methods:{
    openModal:function(){
        this.$store.commit('TOGGLE_FILTERS_WINDOW');
        event.preventDefault();
    },
    openMenu:function(){
        this.$store.commit('TOGGLE_SPHERE_DROPDOWN');
        event.preventDefault();
    },
    toggleChechbox:function(sphere){
        this.$store.commit('CHECK_SPHERE',sphere);
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
