.list{
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;

    &__item{
        margin-left: 40px;
        color: #fff;
        &:first-child {
            margin-left: 0;
        }
    }
}