<template>
  <a href="" class="user">
    <div class="user__icon"></div>
    <div class="user__desc">
      <span>{{username}}</span>
      <span class="user__desc__text">Subscription: {{subTime}} days left</span>
    </div>
  </a>
</template>

<script>

export default {
  name: 'user',
  components: {
  },
  data:function(){
    return {
        username:'Konstantin K.',
        subTime:305,
    }
  }
}
</script>

<style lang='scss' scoped>
@import 'User.scss';
</style>