.container{
    display: flex;

    &--wrapper{
        width: 100%;
        height: 100%;
        padding: 0 93px 0 93px;
        @media screen and (max-width: 1024px) {
            padding: 0 48px 0 48px;
        }
        @media screen and (max-width: 580px) {
            padding: 0 15px 0 15px;
        }
    }

    &--column{
        flex-direction: column;
    }

    &--width-100{
        width: 100%;
    }
}