.breadcrumbs{
    align-items: center;
    font-size: $small_font-size;
    
    &__item{
        display: flex;
        margin-left: 13px;
        color:#999999;
        &:first-child{
            margin-left: 0;
        }
    }

    &__item::after{
        display:flex;
        content: url("/icons/arrow_right.svg");
        margin-left: 10px; 
        height: 10px;
    }
    
    &__item:last-child::after{
        display: none;
    }
}