<template>
  <nav aria-label="Path">
    <ul aria-label="Breadcrumbs" class="breadcrumbs">
      <li class="breadcrumbs__item"><a href="">All Africa</a></li>
      <li class="breadcrumbs__item"><span>Companies</span></li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'breadcrumbs',
  components: {
  },
}
</script>

<style lang="scss" scoped>
@import 'Breadcrumbs.scss'
</style>
