<template>
  <a href="" class="feed">
    <div class="feed__icon"></div>
    <div class="feed__desc">
      <span>My feed</span>
      <span class="feed__desc__text">{{notifyCount}} notifications</span>
    </div>
  </a>
</template>

<script>

export default {
  name: 'feed',
  components: {
  },
  data:function(){
    return {
        notifyCount: 2,
    }
  }
}
</script>

<style lang='scss' scoped>
@import 'Feed.scss';
</style>