.feed{
    display: flex;
    align-items: flex-start;
    color: #fff;
    &__icon{
        display: flex;
    }

    &__icon::after{
        display: flex;
        content: url("/icons/bell_notification.svg");
        padding: 5px 0 0 0;
        @media screen and (max-width: 1024px) {
            content: url("/icons/bell_notification_1024.svg");
        }
        @media screen and (max-width: 320px) {
            content: url("/icons/bell_notification_320.svg");
        }
    }

    &__desc{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    &__desc__text{
        margin: 5px 0 0 0;
        font-size: 12px;
        color:$orange;
    }
}