<template>
  <div id="app">
    <main-page>
    </main-page>
  </div>
</template>
<script>
import MainPage from './components/main-page/MainPage.vue'
export default {
  name: 'App',
  components: {
    MainPage
  }
}
</script>

<style lang="scss">
#app {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
</style>
